body,html{
    height:100%;
    margin: 0;
}
.bg {

    background-image: url(/images/js2.png);
    height: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.nav{
    background-color: rgb(1, 1, 43);
}

.header h2 {
    color: red; 
}

.caption {
    background-color:black;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: rgb(0, 255, 136);
  }
  #date{
      color: rgb(0, 214, 132);
      float: right;
      margin-right:3%;
      font-size:30px;

  }
  #jshead{
      color: rgb(252, 252, 8);
  }
  #phead{
      color:rgb(160, 2, 2);
  }
.w-head{
    background-color:rgb(17, 22, 22);
    border-bottom: 1px solid white;
}